@import "fonts.css";


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'GothaProReg';
    box-sizing: border-box;
    max-width: 100%;
}

.animate{ max-width: 100%; box-sizing: border-box; overflow: hidden}

a{
    text-decoration: none;
    color: #ffffff;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,255,255,0) 40%, rgba(0,0,0,1) 100%);
    background-color: rgba(0,0,0,0.9);
}

.main{
    max-width: 100%;
    height: 100vh;
    /*background-image: url("../img/bg.png");*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    filter: contrast(130%);
    color: #ffffff;
    font-family: 'GothaProBolIta';
    position: relative;
    overflow-x: hidden;
}

.wrapper{
    width: 60%;
    margin-left: 20%;
}

.bg{
    width: 100vw;
    height: 100vh;
    /*margin-left: initial;*/
    background-image: url("../img/bg.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    z-index: -2;
}

.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 0.5px solid #d9d9d9;
}

.projector{
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.projector-item{
    height: 55vh;
    position: absolute;
}
.projector-item img{
    max-height: 100%;
}

.left{
    left: 0;
}
.right{
    right: 0;
}


/* PLAYERS */
.players{
    width: 100%;
    height: auto;
    position: absolute;
    box-sizing: border-box;
}

.players-left img, .players-right img{
    width: 60%;
}

.players-left, .players-right{
    position: relative;
    top: 160px;
}
.players-left{
    left: 0;
}

.players-right{
    right: 0;
}

.player-one, .player-two, .player-three, .player-four{
    position: absolute;
}

.player-one{
    top: 150px;
    left: 40px;
}

.player-two{
    top: 160px;
    left: 100px;
}

.player-three{
    top: 135px;
    right: 70px;
}

.player-four{
    top: 140px;
    right: 0;
}

/* ---- /PLAYERS ---- */

/* CONFITY */
.conf{
    width: 100%;
    position: absolute;
}
.conf-left img, .conf-right img, .conf-top img{
    width: 70%;
}

.conf-left, .conf-right, .conf-top{
    position: absolute;
}

.conf-left{
    /*position: absolute;*/
    left: 0;
    top: 50px;
}

.conf-right{
    right: 0;
    top: 40px;
}

/* ---- /CONFITY ---- */

/* HEADER */

.logo img {
    width: 80%;
}

.header-content{
    text-shadow: 1px 1px 1px #353535;
}

.header-content span{
    color: #00d15d;
}
/* ---- /HEADER ---- */

/* ---- MAIN CONTENT */
.main-content{
    width: 100%;
    height: 75vh;
    display: flex;
    margin-bottom: 80px;
}

.main-content__text{
    text-transform: uppercase;
    width: 40%;
}

.text-color__green{
    color: #00d15d;
}

.bonus{
    font-size: 95px;
    text-shadow: 1px 1px 3px #353535;
    display: inline-block;
    font-family: 'GothaProBlaIta';
    line-height: 100px;
}

.bonus .text-color__green {
    background: linear-gradient(180deg, rgba(0,223,120,1) 0%, rgba(0,189,52,1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #00d15d;
    display: table;
    text-shadow: none;
}
.persent{
    font-size: 120px;
}

.doposit{
    font-size: 25px;
    margin-bottom: 30px;
}
.replenish{
    font-size: 20px;
    line-height: 30px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 60%, rgba(255,255,255,0) 100%);
    width: 180%;
}


/* BUTTON */
.button{
    padding: 15px 40px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(250,215,113,1) 0%, rgba(234,168,28,1) 73%);
    text-align: center;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    margin-top: 20%;
}

.button::before,
.button::after {
    position: absolute;
    content: "";
}

.button::before {
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: rgba(#fff, 0.1);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
}

.button::after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.button.animate-button {
    /*animation: button-outer 3000ms infinite;*/
    animation: button-outer 800ms infinite;
}
.button.is-animating::before {
     animation: button-inner 3000ms infinite;
 }

.button.is-animating::after {
     animation: button-icon 3000ms infinite;
}


@keyframes button-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
    }
    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes button-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@keyframes button-icon {
    0% { transform: translate3d(0em, 0, 0); }
    2% { transform: translate3d(0.01em, 0, 0); }
    4% { transform: translate3d(-0.01em, 0, 0); }
    6% { transform: translate3d(0.01em, 0, 0); }
    8% { transform: translate3d(-0.01em, 0, 0); }
    10% { transform: translate3d(0.01em, 0, 0); }
    12% { transform: translate3d(-0.01em, 0, 0); }
    14% { transform: translate3d(0.01em, 0, 0); }
    16% { transform: translate3d(-0.01em, 0, 0); }
    18% { transform: translate3d(0.01em, 0, 0); }
    20% { transform: translate3d(-0.01em, 0, 0); }
    22% { transform: translate3d(0.01em, 0, 0); }
    24% { transform: translate3d(-0.01em, 0, 0); }
    26% { transform: translate3d(0.01em, 0, 0); }
    28% { transform: translate3d(-0.01em, 0, 0); }
    30% { transform: translate3d(0.01em, 0, 0); }
    32% { transform: translate3d(-0.01em, 0, 0); }
    34% { transform: translate3d(0.01em, 0, 0); }
    36% { transform: translate3d(-0.01em, 0, 0); }
    38% { transform: translate3d(0.01em, 0, 0); }
    40% { transform: translate3d(-0.01em, 0, 0); }
    42% { transform: translate3d(0.01em, 0, 0); }
    44% { transform: translate3d(-0.01em, 0, 0); }
    46% { transform: translate3d(0em, 0, 0); }
}

/* ---- /BUTTON ---- */

.main-player img {
    width: 60%;
}

.main-player{
    position: absolute;
    right: 450px;
    top: 230px;
    z-index: 2;
}

.tractor img{
    width: 70%;
}

.tractor {
    position: absolute;
    left: 580px;
    top: 150px;
}

/* ---- /MAIN CONTENT */

/* STEPS */

.steps-gradient{
    width: 100%;
    height: 20vh;
    background-size: cover;
    /*background: radial-gradient(circle, rgba(256, 256, 256,0) 0%, rgba(0,0,0,1) 100%);*/
    background: linear-gradient(90deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
}

.steps{
    width: 100%;
    height: 20vh;
    background-image: url(../img/arrow-bg.png);
    background-size: cover;
    box-sizing: border-box;
    /*background: radial-gradient(circle, rgba(11,159,6,1) 0%, rgba(0,0,0,1) 100%);*/
}

.content{
    width: 60%;
    height: 100%;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    /*margin-left: 20%;*/
    box-sizing: border-box;
    /*background-color: #ffc539;*/
}

.content-block{
    width: 35%;
    height: 100%;
    display: flex;
    /*background-color: #ffc539;*/
    justify-content: space-between;
    align-items: center;
}
.content-block:last-child{
    width: 30%;
}

.step{
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: relative;
    display: flex;
    margin-left: 40px;
}

.step:first-child{
    margin-left: 0;
}

.step:after{
    /*content: '\2b24';*/
    content: '';
    position: absolute;
    /*top: -15.5px;*/
    /*left: 1.5px;*/
    /*font-size: 60px;*/
    /*!*color: #3b9d37;*!*/
    /*color: rgba(59,157,55,.5);*/
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(59,157,55,.5);
    top: 4.5px;
    left: 5.5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
/*.number-one{*/
/*    width: 40%;*/
/*}*/
.number-one::before{
    content: '1';
    position: absolute;
    left: 18px;
    top: 4px;
    z-index: 3;
    font-size: 40px;
    color: #ffc539;
    text-shadow: 1px 1px 2px #353535;
}

.number-two::before{
    content: '2';
    position: absolute;
    left: 16px;
    top: 4px;
    z-index: 3;
    font-size: 40px;
    color: #ffc539;
    text-shadow: 1px 1px 2px #353535;
}

.number-three::before{
    content: '3';
    position: absolute;
    left: 16px;
    top: 4px;
    z-index: 3;
    font-size: 40px;
    color: #ffc539;
    text-shadow: 1px 1px 2px #353535;
}

.number-two, .number-three{
    left: 16px;
}

.arrows-block{
    display: flex;
    align-items: center;
    padding-right: 50px;
    margin-left: 15px;
    justify-content: space-between;
    /*margin-right: 30px;*/
}

.step-content{
    /*margin-right: 15px;*/
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    border-radius: 15px;
    z-index: 1;
    text-transform: uppercase;
    /*min-width: 15vw;*/
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    min-width: 12vw;
}

.step-content:last-child{
    margin-right: 0;
}

#arrowAnim{
    display: flex;
    height: 100%;
    align-items: center;
}

.arrow {
    width: 10px;
    height: 10px;
    border: .2vw solid;
    border-color: #b6deb4 transparent transparent #b6deb4;
    border-radius: .2vw;
}

.arrowSliding {
    position: absolute;
    -webkit-animation: slide 3s linear infinite;
    animation: slide 3s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.delay2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay3 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    0%{
        opacity: 0;
        transform: rotate(-225deg) translate(10px,10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-225deg) translate(-10px,-10px);
    }
}


@keyframes slide {
    0%{
        opacity: 0;
        transform: rotate(-225deg) translate(20px,20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-225deg) translate(-20px,-20px);
    }
}


/* ---- /STEPS ---- */


/* FEACHERS */

.feachers, .pay{
    width: 100%;
    height: 20vh;
    background-color: #000000;
}

.feachers-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feacher{
    width: 19%;
    height: 10vh;
    /*background-color: blue;*/
    background: rgba(255,255,255,.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
    padding: 0 10px;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'GothaProIta';
    border-radius: 10px;
}

.feacher-text{
    width: 100%;
}

.feacher-image, .feacher-image img{
    width: 50%;
}

/*#live{*/
/*    width: 40%;*/
/*}*/

/* ---- /FEACHERS ---- */


/* PAY */
.pay{
    height: 15vh;
    display: flex;
    align-items: center;
}

.pay-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ---- /PAY ---- */


.footer{
    width: 100%;
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #444444;
    text-transform: uppercase;
}