//@font-face {
//  font-family: "Gotham Pro Bold";
//  src: url("../fonts/GothaProBol.otf") format("opentype");
//  font-style: normal;
//  font-weight: 700;
//  font-display: fallback;
//}

@font-face {
  font-family: "Gotham Pro Black";
  src: url("../fonts/GothaProBlaIta.otf");
  font-style: italic;
  font-weight: 900;
}
