@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothaProLig.otf") format("otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothaProReg.otf") format("otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamProMed.otf")format("otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro Bold";
  src: url("../fonts/GothaProBol.otf") format("otf");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Gotham Pro Black";
  src: url("../fonts/GothaProBla.otf") format("otf");
  font-style: normal;
  font-weight: 900;
}
