@font-face {
    font-family: 'GothaProReg';
    src: url(../font/GothaProReg.otf);
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'GothaProBol';
    src: url(../font/GothaProBol.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProBolIta';
    src: url(../font/GothaProBolIta.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProIta';
    src: url(../font/GothaProIta.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProNarBol';
    src: url(../font/GothaProNarBol.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProNarMed';
    src: url(../font/GothaProNarMed.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProMed';
    src: url(../font/GothaProMed.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'GothaProMedIta';
    src: url(../font/GothaProMedIta.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProBla';
    src: url(../font/GothaProBla.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothaProBlaIta';
    src: url(../font/GothaProBlaIta.otf);
    font-style: normal;
    font-weight: normal;
}

